.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #505858;
    font-weight: 300;
    text-shadow: -1px 0px 1px rgba(0,0,0,0.6);
}

.project{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    margin: 30px;
    max-width: 360px;
    text-align: center;
    border: 2px solid #2986c9;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    
}

.project img {
    width: 100%;
    border-radius: 7px;
}

.project p {
    display: block;
    margin:20px 20px 60px 20px;
}

.project h2 {
    color: #2986c9;
    font-weight: bold;
    font-size: 32px;
    padding: 10px 0;
    margin: 0;
}

button {
    background-color: #fa77b5;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 20px;
    margin-bottom: 50px;
    transition: all 0.5s ease;
    font-weight: bold;
    outline: none;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
}

button:hover {
    background-color: #2986c9;
}

button .btn-link {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .project {
        margin: 10px;
    }

    .project h2 {
        padding: 10px 30px;
    }

    .project p {
        margin: 10px 30px 20px 30px;
    }

    button {
        margin-bottom: 20px;
    } 
}